* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: hwb(0 98% 2%); /* White background */
  margin: 0;
  padding: 0;
}

.main-content {
  text-align: center;
  background: url("flat-lay-vegetables-white-background-food-diet-concept.jpg") center/cover;
  padding: 100px 0; /* Adjust padding as needed */
}

.slogan {
  margin-top: 5%;
  padding-bottom: -4%;
  color: #000000;
}

.slogan h1 {
  font-size: 3rem;
}

.slogan p {
  font-size: 1.5rem;
}

.search-container {
  margin-top: 50px; /* Adjust margin as needed */
}

.search-container input[type="text"] {
  padding: 15px;
  margin-top: 10%;

  width: 70%;
  border: rgb(1, 1, 1);
  border-style:groove;
  border-color: #004201;
  border-radius: 30px;
  font-size: 1rem;
}

.search-container button {
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  background-color: #3bcf25;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-container button:hover {
  background-color: #00b333;
}

.food-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0; /* Adjust padding as needed */
}

.food-card {
  width: 30%; /* Adjust card width as needed */
  margin: 20px;
  background-color: #f9f9f9;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-container {
  position: relative;
  text-align: center;
  background: url("images/food/food.jpg") center/cover fixed; /* Background image */
}

.image-container img {
  width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

a:hover {
  color: #000;
}

header {
  position: relative;
  padding: 0 2rem;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: mediumblue;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action_btn:hover {
  transform: scale(1.05);
  color: #fff;
}

.action_btn:active {
  transform: scale(0.95);
}

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 100px;
  background: rgba(255,255,255,0);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  overflow: hidden;
}

.dropdown_menu.open {
  height: 250px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dw-blue {
  color: mediumblue;
}

@media(max-width: 992px) {
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

@media(max-width: 992px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}

.food-contenent {
  width: 30%;
  height: max-content;
  text-align: center;
  font-size: large;
  display: inline-flex;
  align-items: center;
  color: white;
  margin: 10px;
  background-color: rgba(0,0,0,0.8);
  border-radius: 15px;
  margin-top: 12px;
  cursor: pointer;
  transition: scale 0.2s ease;
}

.paragraph {
  max-height: 85px;
  overflow-y: hidden;
}

.col-contenent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col-contenent img {
  width: 100%;
  height: 300px;
  border-radius: 20px 10px;
}

.title {
  text-align: center;
  font-size: large;
  font-style: italic;
  text-decoration: underline;
  font-weight: bold;
}

.col-contenent h5 {
  font-size: large;
  font-style: italic;
  text-decoration: underline;
}

.col-contenent:hover > .paragraph {
  max-height: 100%;
}

.food-contenent:hover {
  transform: scale(1.05);
  background-color: black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: aqua;
  border-radius: 30px;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  height: max-content;
}

.footer {
  background: #24262b;
  padding: 40px 0;
  width: 100%;
  bottom: -300px;
  display: block;
}

.row-footer {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 25px;
  font-weight: 500;
  position: relative;
}


.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background: aqua;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li a {
  margin-bottom: 10px;
  font-size: 16px;
  text-decoration: none;
  color: #bbbbbb;
  display: block;
  transition: all 0.8s ease;
}

.footer-col ul li a:hover {
  color: #fff;
  padding-left: 6px;
}

.footer-col .social-link a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background: rgba(255, 255, 255, .2);
  margin: 0 10px 10 0px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  transition: all .5s ease;
}

.footer-col .social-link a:hover {
  color: #24262b;
  background: #fff;
}

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
