body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

main {
    padding: 2rem;
}

.product {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.product img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.product h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.product p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1rem;
}

.price {
    font-size: 1.25rem;
    color: #333;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 0.5rem;
}

input {
    width: 50px;
    text-align: center;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 0.5rem 1rem;
    background-color: #395bb8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #1f3682;
}

  
  .footer {
    background: #24262b;
    padding: 40px 0;
    width: 100%;
    bottom: -300px;
    display: block;
  }
  
  .row-footer {
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer-col {
    width: 25%;
    padding: 0 15px;
  }
  
  .footer-col h4 {
    font-size: 18px;
    color: #fff;
    margin-bottom: 25px;
    font-weight: 500;
    position: relative;
  }
  
  
  .footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background: aqua;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  
  .footer-col ul {
    list-style: none;
  }
  
  .footer-col ul li a {
    margin-bottom: 10px;
    font-size: 16px;
    text-decoration: none;
    color: #bbbbbb;
    display: block;
    transition: all 0.8s ease;
  }
  
  .footer-col ul li a:hover {
    color: #fff;
    padding-left: 6px;
  }
  
  .footer-col .social-link a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: rgba(255, 255, 255, .2);
    margin: 0 10px 10 0px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all .5s ease;
  }
  
  .footer-col .social-link a:hover {
    color: #24262b;
    background: #fff;
  }
  
  @media (max-width: 767px) {
    .footer-col {
      width: 50%;
      margin-bottom: 30px;
    }
  }
  
